Package: com.yourcompany.allinone
Name: AllInOne
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Natheer
Author: Natheer
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
