Package: com.yourcompany.jodelconfirmvotes
Name: JodelConfirmVotes
Architecture: iphoneos-arm
Description: Adding confirm alert for votes
Maintainer: ExT
Author: ExT
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Version: 0.0.3-14+debug
Installed-Size: 200
