Package: com.extbh.pepe
Name: Pepe
Architecture: iphoneos-arm
Description: My First Tweak Made @ 27/2/2022
Maintainer: ExT
Author: ExT
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Version: 0.0.1-1+debug
Installed-Size: 200
