Package: com.extbh.jodel++
Name: Jodel++ By ExT
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: ExT
Author: ExT
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
